<div
  id="about"
  class="bg-gradient-to-b from-primary-main to-primary-mid w-[100%] md:px-[10%] px-[5%] py-[100px] flex flex-col gap-[40px] items-center justify-center"
>
  <img
    src="/image/pattern/Pick.svg"
    class="lg:w-[300px] md:w-[200px] md:block hidden absolute top-full left-2 object-contain circle-animation"
  />
  <h1
    class="lg:text-[90px] md:text-[80px] sm:text-[70px] text-[50px] font-b text-secondary-main text-center lg:leading-[30px] md:leading-[25px] sm:leading-[20px] leading-[0px]"
  >
    ABOUT
    <h1
      class="lg:text-[90px] md:text-[80px] sm:text-[70px] text-[50px] font-b text-secondary-main text-center lg:leading-[30px] md:leading-[25px] sm:leading-[20px] leading-[0px]"
      id="about-head-fade"
    >
      UI VISUALS
    </h1>
  </h1>
  <p
    class="mt-[40px] md-[80%] sm:w-[90%] w-[95%] mx-auto sm:block hidden text-center font-l text-sm leading-[150%]"
  >
    <span class="text-secondary-main font-r">UI Visuals</span> is a community
    within the Herald DevCorps at Herald College Kathmandu. Established on
    August 10, 2019, our focus is on designing user interfaces and front-end
    designs. We aim to foster connections among designers and learners to
    enhance UI and Visual Design. Through our community, we develop leadership,
    design, communication, and teamwork skills, which we believe are essential
    for success in any field. We emphasize knowledge sharing and learning from
    each other, creating a friendly and supportive environment. We welcome
    individuals who share our passion for design and technology, and who are
    dedicated to improving their skills and contributing to our community.
  </p>
  <p
    class="mt-[40px] sm:w-[90%] w-[95%] sm:hidden mx-auto text-center font-l text-xs leading-[150%]"
  >
    <span class="text-secondary-main font-r">UI Visuals</span> is a community at
    Herald College Kathmandu that specializes in designing user interfaces and
    front-end designs. Established in 2019, we aim to build connections among
    designers and learners to enhance UI and visual design skills. Our community
    values knowledge sharing, teamwork, and leadership development to create a
    supportive and friendly environment for individuals passionate about design
    and technology.
  </p>
  <a href="https://heraldcollege.edu.np/" target="_blank">
    <img
      src="/image/About_Logo.png"
      class="md:w-[350px] sm:w-[300px] w-[250px]"
    />
  </a>
  <div
    class="lg:w-[50%] md:w-[60%] sm:w-[80%] w-[100%] flex flex-row items-center justify-between"
  >
    <div class="flex flex-col gap-[10px] items-center">
      <h4 class="md:text-[25px] sm:text-rg text-xs text-text-light font-r">
        Members
      </h4>
      <h3
        class="md:text-xxxxl sm:text-xxxl text-xxl text-text-main font-md leading-10"
        id="member-counter"
      ></h3>
    </div>
    <div class="flex flex-col gap-[10px] items-center">
      <h4 class="md:text-[25px] sm:text-rg text-xs text-text-light font-r">
        Departments
      </h4>
      <h3
        class="md:text-xxxxl sm:text-xxxl text-xxl text-text-main font-md leading-10"
        id="department-counter"
      ></h3>
    </div>
    <div class="flex flex-col gap-[10px] items-center">
      <h4 class="md:text-[25px] sm:text-rg text-xs text-text-light font-r">
        Events
      </h4>
      <h3
        class="md:text-xxxxl sm:text-xxxl text-xxl text-text-main font-md leading-10"
        id="events-counter"
      ></h3>
    </div>
  </div>
</div>
<div
  class="bg-gradient-to-b from-primary-mid to-primary-main pb-[50px] md:px-[10%] px-[5%] flex flex-col md:gap-[40px] gap-[0px]"
>
  <h2
    id="why-ui-fade"
    class="md:text-xxxxl sm:text-xxxl text-xl text-text-mid font-sb leading-[80%]"
  >
    WHY <br /><span>UI VISUALS ?</span>
  </h2>
  <div class="flex flex-row flex-wrap justify-between gap-[1%]">
    <div
      class="mt-[50px] lg:w-[45%] md:w-[40%] w-[100%] flex flex-col gap-[10px]"
    >
      <div class="flex flex-row gap-[10px] items-center">
        <img
          src="/image/icons/UX.svg"
          class="md:w-[40px] w-[35px] object-contain"
        />
        <h3 class="text-secondary-light font-md lg:text-lg md:text-md text-rg leading-[100%]">
          Opportunity to learn
        </h3>
      </div>
      <p class="leading-[150%] text-text-main md:text-xs text-xxs font-l">
        The community provides an opportunity for students to learn about UI/UX
        design, design tools, and the latest design trends. By participating in
        the community's programs and activities, students can gain practical
        experience in design and enhance their skills.
      </p>
    </div>
    <div
      class="mt-[50px] lg:w-[45%] md:w-[40%] w-[100%] flex flex-col gap-[10px]"
    >
      <div class="flex flex-row gap-[10px] items-center">
        <img
          src="/image/icons/Leadership.svg"
          class="md:w-[40px] w-[35px] object-contain"
        />
        <h3 class="text-secondary-light font-md lg:text-lg md:text-md text-rg leading-[100%]">Leadership</h3>
      </div>
      <p class="leading-[150%] text-text-main md:text-xs text-xxs font-l">
        Students can get involved in planning and organizing community events,
        developing leadership and organizational skills while making a positive
        impact on the community.
      </p>
    </div>
    <div
      class="mt-[50px] lg:w-[45%] md:w-[40%] w-[100%] flex flex-col gap-[10px]"
    >
      <div class="flex flex-row gap-[10px] items-center">
        <img
          src="/image/icons/Communication.svg"
          class="md:w-[40px] w-[35px] object-contain"
        />
        <h3 class="text-secondary-light font-md lg:text-lg md:text-md text-rg leading-[100%]">Communication</h3>
      </div>
      <p class="leading-[150%] text-text-main md:text-xs text-xxs font-l">
        The UI Visuals Community is made up of students who share a common
        interest in design. By joining the community, students can connect with
        other like-minded individuals and expand their professional network.
      </p>
    </div>
    <div
      class="mt-[50px] lg:w-[45%] md:w-[40%] w-[100%] flex flex-col gap-[10px]"
    >
      <div class="flex flex-row gap-[10px] items-center">
        <img
          src="/image/icons/Collaboration.svg"
          class="md:w-[40px] w-[35px] object-contain"
        />
        <h3 class="text-secondary-light font-md lg:text-lg md:text-md text-rg leading-[100%]">Collaboration</h3>
      </div>
      <p class="leading-[150%] text-text-main md:text-xs text-xxs font-l">
        UI Visuals Community is a collaborative environment that encourages
        teamwork and communication skills, providing students with the
        opportunity to work on group projects and learn how to work with others
        effectively.
      </p>
    </div>
    <div
      class="mt-[50px] lg:w-[45%] md:w-[40%] w-[100%] flex flex-col gap-[10px]"
    >
      <div class="flex flex-row gap-[10px] items-center">
        <img src="/image/icons/Resources.svg" class="md:w-[40px] w-[35px] object-contain" />
        <h3 class="text-secondary-light font-md lg:text-lg md:text-md text-rg leading-[100%]">
          Access to Resources
        </h3>
      </div>
      <p class="leading-[150%] text-text-main md:text-xs text-xxs font-l">
        UI Visuals Community offers access to various design resources,
        including software, equipment, and design libraries, providing students
        with everything they need to succeed in the design industry.
      </p>
    </div>
    <div
      class="mt-[50px] lg:w-[45%] md:w-[40%] w-[100%] flex flex-col gap-[10px]"
    >
      <div class="flex flex-row gap-[10px] items-center">
        <img src="/image/icons/Industry.svg" class="md:w-[40px] w-[35px] object-contain" />
        <h3 class="text-secondary-light font-md lg:text-lg md:text-md text-rg leading-[100%]">
          Industry Exposure
        </h3>
      </div>
      <p class="leading-[150%] text-text-main md:text-xs text-xxs font-l">
        The community organizes workshops, seminars, and talks by industry
        professionals, which can provide students with valuable insights into
        the design industry and career opportunities.
      </p>
    </div>
  </div>
</div>
<div
  class="bg-gradient-to-b from-primary-main to-primary-mid py-[50px] md:px-[10%] px-[5%] flex flex-col items-center gap-[40px]"
>
  <h2 id="department-fade" class="md:text-xxxxl sm:text-xxxl text-xl text-text-mid font-sb">
    Departments
  </h2>
  <div
    class="w-[100%] mx-auto flex flex-row flex-wrap gap-[20px] justify-center"
  >
    <div
      class="md:w-[250px] sm:w-[300px] w-[100%] p-[20px] bg-[#eaf1e6] flex flex-col items-center gap-[10px] shadow bg-black bg-opacity-5 ring-offset-0"
    >
      <img
        src="/image/icons/graphic-designer.svg"
        class="md:w-[40px] w-[35px] object-contain"
      />
      <h4 class="font-r md:text-rg text-sm text-text-main">Design</h4>
      <p class="text-text-light md:text-xs text-xxs leading-[150%]">
        The Design department is responsible for creating visual concepts and
        designs for various projects, such as website layouts, logos, and
        promotional materials.
      </p>
    </div>
    <div
      class="md:w-[250px] sm:w-[300px] w-[100%] p-[20px] bg-[#eaf1e6] flex flex-col items-center gap-[10px] shadow bg-black bg-opacity-5 ring-offset-0"
    >
      <img src="/image/icons/coding.svg" class="md:w-[40px] w-[35px] object-contain"/>
      <h4 class="font-r md:text-rg text-sm text-text-main">Development</h4>
      <p class="text-text-light md:text-xs text-xxs leading-[150%]" s>
        The Development department is responsible for creating and maintaining
        the UI Visuals website, as well as developing various web and mobile
        applications.
      </p>
    </div>
    <div
      class="md:w-[250px] sm:w-[300px] w-[100%] p-[20px] bg-[#eaf1e6] flex flex-col items-center gap-[10px] shadow bg-black bg-opacity-5 ring-offset-0"
    >
      <img
        src="/image/icons/magnifying-glass.svg"
        class="md:w-[40px] w-[35px] object-contain"
      />
      <h4 class="font-r md:text-rg text-sm text-text-main">Logistics</h4>
      <p class="text-text-light md:text-xs text-xxs leading-[150%]">
        The Logistics department is responsible for coordinating and managing
        the logistical aspects of events and projects that UI Visuals is
        involved in, such as venue selection, transportation, and equipment
        rental
      </p>
    </div>
    <div
      class="md:w-[250px] sm:w-[300px] w-[100%] p-[20px] bg-[#eaf1e6] flex flex-col items-center gap-[10px] shadow bg-black bg-opacity-5 ring-offset-0"
    >
      <img src="/image/icons/market-research.svg" class="md:w-[40px] w-[35px] object-contain"/>
      <h4 class="font-r md:text-rg text-sm text-text-main">Research</h4>
      <p class="text-text-light md:text-xs text-xxs leading-[150%]">
        The Research department is responsible for conducting research related
        to the field of UI/UX design, as well as analyzing user behavior and
        preferences.
      </p>
    </div>
    <div
      class="md:w-[250px] sm:w-[300px] w-[100%] p-[20px] mt-[20px] bg-[#eaf1e6] flex flex-col items-center gap-[10px] shadow bg-black bg-opacity-5 ring-offset-0"
    >
      <img src="/image/icons/budget.svg" class="md:w-[40px] w-[35px] object-contain" />
      <h4 class="font-r md:text-rg text-sm text-text-main">Finance</h4>
      <p class="text-text-light md:text-xs text-xxs leading-[150%]">
        The Finance department is responsible for managing UI Visuals' finances,
        including budgeting, accounting, and financial reporting.
      </p>
    </div>
    <div
      class="md:w-[250px] sm:w-[300px] w-[100%] p-[20px] mt-[20px] bg-[#eaf1e6] flex flex-col items-center gap-[10px] shadow bg-black bg-opacity-5 ring-offset-0"
    >
      <img src="/image/icons/photography.svg" class="md:w-[40px] w-[35px] object-contain"/>
      <h4 class="font-r md:text-rg text-sm text-text-main">Photography</h4>
      <p class="text-text-light md:text-xs text-xxs leading-[150%]">
        The Photography department is responsible for capturing high-quality
        photos of events, products, and projects that UI Visuals is involved in.
      </p>
    </div>
    <div
      class="md:w-[250px] sm:w-[300px] w-[100%] p-[20px] mt-[20px] bg-[#eaf1e6] flex flex-col items-center gap-[10px] shadow bg-black bg-opacity-5 ring-offset-0"
    >
      <img src="/image/icons/videography.svg" class="md:w-[40px] w-[35px] object-contain" />
      <h4 class="font-r md:text-rg text-sm text-text-main">Videography</h4>
      <p class="text-text-light md:text-xs text-xxs leading-[150%]">
        The Videography department is responsible for creating engaging video
        content for UI Visuals, such as event highlights and promotional videos.
      </p>
    </div>
    <div
      class="md:w-[250px] sm:w-[300px] w-[100%] p-[20px] mt-[20px] bg-[#eaf1e6] flex flex-col items-center gap-[10px] shadow bg-black bg-opacity-5 ring-offset-0"
    >
      <img src="/image/icons/bullhorn.svg" class="md:w-[40px] w-[35px] object-contain" />
      <h4 class="font-r md:text-rg text-sm text-text-main">Marketing</h4>
      <p class="text-text-light md:text-xs text-xxs leading-[150%]">
        The Marketing department is responsible for promoting UI Visuals and its
        various projects and events through various marketing channels, such as
        social media, email marketing, and content marketing.
      </p>
    </div>
  </div>
</div>
