<div
  class="bg-gradient-to-b from-text-mid to-text-main py-[30px] flex flex-col items-center justify-between gap-[30px] relative overflow-hidden"
  id="contact"
>
  <h1
    class="font-b text-secondary-main lg:text-[90px] md:text-[80px] sm:text-[75px] text-[50px] md:tracking-[-5px] sm:tracking-[-3px] tracking-[-2px]"
  >
    Contact Us
  </h1>
  <img
    src="/image/pattern/SKYLINEimage.png"
    class="w-[100%] absolute bottom-[-20px] z-[0] object-contain"
  />
  <div class="w-[90%] flex gap-5 max-[1000px]:flex-col flex-row justify-between max-[1000px]:items-center items-start">
    <div class="max-[1000px]:w-[90%] w-[30%] flex flex-col gap-[10px] max-[1000px]:items-center items-start">
      <h3 class="font-md text-rg text-primary-main">About UI Visuals</h3>
      <h5 class="font-l text-primary-main sm:text-xs text-xxs leading-[150%] max-[1000px]:text-center text-left">
        UI Visuals is a design community under Herald DevCorps Communities of
        Herald College Kathmandu that specializes in UI and front-end design,
        aiming to enhance skills through sharing, growth, and connection.
      </h5>
    </div>
    <div class="flex flex-col ">
      <h3 class="font-md text-rg text-primary-main">Let's get Connected</h3>
      <a
        href="https://www.instagram.com/devcorps.uivisuals/"
        target="_blank"
        class="mt-[10px] flex flex-row items-center gap-[10px] z-[1]"
        ><i class="uil uil-instagram-alt text-lg text-primary-main"></i>
        <h5 class="font-l sm:text-xs text-xxs text-primary-main">
          Follow us on Instagram
        </h5></a
      >
      <a
        href="https://www.facebook.com/groups/440546053340638"
        target="_blank"
        class="flex flex-row items-center gap-[10px] z-[1]"
        ><i class="uil uil-facebook text-lg text-primary-main"></i>
        <h5 class="font-l sm:text-xs text-xxs text-primary-main">Like us on Facebook</h5></a
      >
      <a
        href="https://www.linkedin.com/in/uivisuals/"
        target="_blank"
        class="flex flex-row items-center gap-[10px] z-[1]"
        ><i class="uil uil-linkedin text-lg text-primary-main"></i>
        <h5 class="font-l sm:text-xs text-xxs text-primary-main">
          Connect us on Linkedin
        </h5></a
      >
      <a
        href="https://discord.gg/uR73WfN8Tz"
        target="_blank"
        class="flex flex-row items-center gap-[10px] z-[1] mt-[10px]"
      >
        <img src="/image/icons/Discord.png" class="w-[30px]" />
        <h5 class="font-l sm:text-xs text-xxs text-primary-main">Join our Discord</h5>
      </a>
      <a
        href="https://www.tiktok.com/@uivisuals"
        target="_blank"
        class="flex flex-row items-center gap-[10px] z-[1] mt-[20px]"
      >
        <img src="/image/icons/Tiktok.png" class="w-[30px]" />
        <h5 class="font-l sm:text-xs text-xxs text-primary-main">Like us on Tik Tok</h5>
      </a>
      <a
        href="https://www.youtube.com/@uivisuals"
        target="_blank"
        class="flex flex-row items-center gap-[10px] z-[1] mt-[10px]"
        ><i class="uil uil-youtube text-lg text-primary-main"></i>
        <h5 class="font-l sm:text-xs text-xxs text-primary-main">
          Subscribe our Channel
        </h5></a
      >
    </div>
    <div class="flex flex-col">
      <h3 class="font-md text-rg text-primary-main">Contact Information</h3>
      <a
        href="https://goo.gl/maps/AxT37EdoSWcozp5c8"
        target="_blank"
        class="mt-[10px] flex flex-row items-center gap-[10px] z-[1]"
        ><i class="uil uil-map-marker-alt text-lg text-primary-main"></i>
        <h5 class="font-l text-primary-main sm:text-xs text-xxs">
          Bhagawati Bahal Road, Naxal, Kathmandu
        </h5></a
      >
      <a
        href="mailto:devcorpsuivisuals@heraldcollege.edu.np"
        class="mt-[10px] flex flex-row items-center gap-[10px] z-[1]"
        ><i class="uil uil-envelope text-lg text-primary-main"></i>
        <h5 class="font-l text-primary-main text-xs">
          devcorpsuivisuals@heraldcollege.edu.np
        </h5></a
      >
    </div>
  </div>
  <h5 class="font-l text-primary-main text-xs z-[1]">
    © Ui Visuals Community <span id="year"></span>.
    <a href="https://www.prajwolneupane.com.np/" target="_blank">
      By Prajwol Neupane</a
    >
  </h5>
</div>