<div class="nav flex-row" style="background-color: #fafafa;">
  <!-- Div nav-img contain headding nav images  -->
  <div class="nav-img flex-row">
    <img src="/image/DEV_BLACK.png" class="dev" />
    <div class="nav-line"></div>
    <img src="/image/UI_BLACK.png" class="ui" />
  </div>
  <!-- Div nav-items contain links for scroll navigation -->
  <div class="nav-items flex-row">
    <h4 onclick="scrollDown('#home')">Home</h4>
    <h4 onclick="scrollDown('#about')">About</h4>
    <h4 onclick="scrollDown('#event')">Events</h4>
    <h4 onclick="scrollDown('#team')">Team</h4>
    <h4 onclick="scrollDown('#contact')">Contact</h4>
  </div>
</div>
